<div class="container">
  <header>
    <h1>Locação de Carros</h1>
    <nav>
      <ul>
        <li><a routerLink="/cadastro-clientes" routerLinkActive="active">Cadastro de Clientes</a></li>
        <li><a routerLink="/cadastro-filmes" routerLinkActive="active">Cadastro de Carro</a></li>
        <li><a routerLink="/locacao" routerLinkActive="active">Fazer Locação do Carro</a></li>
        <li><a routerLink="/lista-locacoes" routerLinkActive="active">Lista de Locações</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <router-outlet></router-outlet>
  </main>
</div>
